@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter',sans-serif;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;
    background-color: rgb(186, 162, 128,0.85);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.nav-bar a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.container{
    background-image: url("./landing-bg1\ \(1\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

.content{
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.content h1{
    font-size: 18px;
    letter-spacing: 0.35em;
    color: white;
    font-weight: 400;
}

.dv1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    gap: 10px;
}

.dv1 h2{
    font-size: 36px;
    font-family: "Montaga";
    color: rgb(33, 33, 33);
    font-weight: 400;
}

.dv1 p{
    color: #BE8157;
    font-weight: 700;
    font-size: 16px;
}

.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 80px;
    margin-bottom: 120px;
}
.images .image img:not(.tag){
    width: 100%;
    box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);
}

.image-wrapper img:first-child{
    display: block;
}

.image-wrapper{
    position: relative;
}

.image-wrapper .tag{
    position: absolute;
    top: -15px;
    left: 20px;
    width: 50px;
    height: 70px;
    z-index: 5;
    transform: rotate(-5deg); 
}
/* ----------------------------- */

.page-container{
    background-color: #F5EFE4;
    background-image: url("./landing-bg7.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size:50% auto;
    height: 130vh;
    width: 100%;
    position: relative;
}

.uspl{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; 
}

.uspl h2{
    font-size: 36px;
    color: rgb(33, 33, 33);
    font-family: "Montaga";
    font-weight: 400;
}

.cake-tag{
    position: absolute;
    width: 250px;
    height: 180px;
    top: -120px;
    left: -40px;
}

.cards{
    display: flex;
}

.cards .card img{
    width: 100%;
    box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);
}
/* --------------------------------------- */

.a-div{
    margin: 80px;
    margin-bottom: 100px;
}

.a-div .heading-div h2{
    font-size: 36px;
    color: rgb(33, 33, 33);
    font-family: "Montaga";
    font-weight: 400;
}

.heading-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; 
}

.b-div{
    display: flex;
}

.b-div-1{
    margin-top: 60px;
}

.b-div-3{
    margin-top: 60px;
}

.c-div{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 120px;
}

.common-b-div img{
    width: 100%;
    box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);
}
/* --------------------------------------- */
.new_image_wrapper{
    position: relative;
}

.new_image_wrapper .menu_interface{
    position: absolute;
    left: 40px;
    top: -48px;
}

.new_image_wrapper{
    width: 50%;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    column-gap: 180px;
}

.child_content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.child_content h2{
    font-size: 36px;
    color: rgb(33, 33, 33);
    font-family: "Montaga";
    font-weight: 400;
}

.child_content p{
    font-size: 16px;
    color: rgb(85, 85, 85);
    font-family: "Inter";
    font-weight: 400;
    width: 500px;
    line-height: 2em;
}
/* ------------------------------------------- */
.theme{
    margin: 80px;
}
.theme-feature h2{
    font-size: 36px;
    color: rgb(33, 33, 33);
    font-family: "Montaga";
    font-weight: 400;
}

.theme-feature{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: baseline;
}
.feature h3{
    font-size: 24px;
    color: rgb(33, 33, 33);
    font-family: "Montaga";
    font-weight: 400;
    line-height: 2em;
}

.feature p{
    font-size: 14px;
    color: rgb(160, 160, 160);
    font-family: "Inter";
    font-weight: 400;
    line-height: 2em;
    text-align: center;
}

span{
    width: 50px;
    height: 50px;
}
/* ----------------------------------------- */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./landing-bg6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
}

/* Animation part */

.slideup{
    position: relative;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: myAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
@keyframes myAnimation{
    from{
        opacity: 0;
        transform: translateY(50px);    
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* -------------------------------------- */
.imgWrap1{
    position: relative;
    overflow: hidden;
}

.imgWrap1 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* inset: 0; alternative for 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.imgWrap1 .overlay h2{
    color: white;
    font-family: "Montaga";
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
}

.imgWrap1:hover .overlay{
    opacity: 1;
}

.imgWrap1:hover img:not(.tag){
    transform: scale(1.1);
}

.imgWrap1 img:not(.tag){
    transition: transform 0.5s ease;
}
/* ------------------------------------- */
.imgWrap2{
    position: relative;
    overflow: hidden;
}

.imgWrap2 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* inset: 0; alternative for 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.imgWrap2 .overlay h2{
    color: white;
    font-family: "Montaga";
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
}

.imgWrap2:hover .overlay{
    opacity: 1;
}

.imgWrap2:hover img:not(.tag){
    transform: scale(1.1);
}

.imgWrap2 img:not(.tag){
    transition: transform 0.5s ease;
}
/* ----------------------------------------- */
.imgContentWrap1{
    position: relative;
    overflow: hidden;
}

.imgContentWrap1 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* inset: 0; alternative for 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.imgContentWrap1 .overlay h2{
    color: white;
    font-family: "Montaga";
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
}

.imgContentWrap1:hover .overlay{
    opacity: 1;
}

.imgContentWrap1:hover img{
    transform: scale(1.1);
}

.imgContentWrap1 img{
    transition: transform 0.5s ease;
}
/* ------------------------------------ */
.imgContentWrap2{
    position: relative;
    overflow: hidden;
}

.imgContentWrap2 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* inset: 0; alternative for 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.imgContentWrap2 .overlay h2{
    color: white;
    font-family: "Montaga";
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
}

.imgContentWrap2:hover .overlay{
    opacity: 1;
}

.imgContentWrap2:hover img{
    transform: scale(1.1);
}

.imgContentWrap2 img{
    transition: transform 0.5s ease;
}
/* ----------------------------------------- */
.imgContentWrap3{
    position: relative;
    overflow: hidden;
}

.imgContentWrap3 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* inset: 0; alternative for 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.imgContentWrap3 .overlay h2{
    color: white;
    font-family: "Montaga";
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
}

.imgContentWrap3:hover .overlay{
    opacity: 1;
}

.imgContentWrap3:hover img{
    transform: scale(1.1);
}

.imgContentWrap3 img{
    transition: transform 0.5s ease;
}
/* --------------------------------------- */
.imgContentWrap4{
    position: relative;
    overflow: hidden;
}

.imgContentWrap4 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* inset: 0; alternative for 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.imgContentWrap4 .overlay h2{
    color: white;
    font-family: "Montaga";
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
}

.imgContentWrap4:hover .overlay{
    opacity: 1;
}

.imgContentWrap4:hover img{
    transform: scale(1.1);
}

.imgContentWrap4 img{
    transition: transform 0.5s ease;
}
/* ----------------------------------- */
.imgContentWrap5{
    position: relative;
    overflow: hidden;
}

.imgContentWrap5 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* inset: 0; alternative for 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.imgContentWrap5 .overlay h2{
    color: white;
    font-family: "Montaga";
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
}

.imgContentWrap5:hover .overlay{
    opacity: 1;
}

.imgContentWrap5:hover img{
    transform: scale(1.1);
}

.imgContentWrap5 img{
    transition: transform 0.5s ease;
}
/* ----------------------------------- */
.imgContentWrap6{
    position: relative;
    overflow: hidden;
}

.imgContentWrap6 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* inset: 0; alternative for 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.imgContentWrap6 .overlay h2{
    color: white;
    font-family: "Montaga";
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
}

.imgContentWrap6:hover .overlay{
    opacity: 1;
}

.imgContentWrap6:hover img{
    transform: scale(1.1);
}

.imgContentWrap6 img{
    transition: transform 0.5s ease;
}
/* --------------------------------------- */
.imgContentWrap7{
    position: relative;
    overflow: hidden;
}

.imgContentWrap7 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* inset: 0; alternative for 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.imgContentWrap7 .overlay h2{
    color: white;
    font-family: "Montaga";
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
}

.imgContentWrap7:hover .overlay{
    opacity: 1;
}

.imgContentWrap7:hover img{
    transform: scale(1.1);
}

.imgContentWrap7 img{
    transition: transform 0.5s ease;
}
/* ----------------------------------- */